/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


/****général****/

.fa-solid {
    color: var(--main-color);

}

body {
    display: flex;
    justify-content: center;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;

}

main {
    margin-bottom: 35px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;


}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;


}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****en tête****/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

nav a {
    margin-right: 50px;
    padding-top: 14px;
}

nav a:hover {
    color: var(--main-color);
    border-top: 1px solid #0065FC;

}

nav img {
    height: 19px;
    width: 61px;
    padding: 30px 50px;
}

/**** rechercher****/

.rechercher {
    height: 14%;
    margin-top: 30px;
}

.rechercher .section-title {
    margin-right: 8px;
}

.rechercher p {
    margin-top: 8px;
}

.filtres {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;

}

.formulaire-rechercher {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    width: 377px;
    height: 49px;

}

.button {
    position: relative;
    top: 0px;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    padding-left: 16px;
    padding-right: 16px;
}

.fa-magnifying-glass {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    height: 30px;
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;

}

.loc {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    height: 49px;
    padding: 0 19px;
    border-radius: 30% 0 0 30%;
    margin: 0;
}

.text-seach {
    position: relative;
    top: 0;
    border: 1px solid #d9d9d9;
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-right: 20px;
    height: 49px;
    width: 195px;
}

.fa-location-dot {
    color: black;
}



.filtres {
    display: flex;
    flex-direction: row;
}

.filtres a {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px 22px;
}

.filtres a:not(:last-child) {
    margin-right: 15px;
}

.lien-filtres:not(:last-child) {
    margin-right: 15px;
}


.liens {
    display: flex;
    flex-direction: row;

}

.filtres a:hover {
    background-color: #DEEBFF;

}

.filtres .fa-solid {
    margin-right: 10px;
}

.filtres .card-title {
    margin-right: 15px;
}

.info {
    display: flex;
    margin-top: 35px;

}

.info p {
    margin-left: 10px;
    margin-top: 0;
}



.fa-info {

    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    width: 22px;
    height: 22px;



}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 40%;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements-card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-title {
    display: flex
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;


}

.hebergements-card {
    display: flex;
    justify-content: space-between;


}

.hebergements .card-content {
    padding: 0 15px 15px 15px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.hebergements-card .card-title {
    margin-bottom: 8px;
    margin-top: 8px;

}

.hebergements-cards .card-subtitle {
    margin-top: 8px;

}

.hebergements-card a {
    width: 31%;
}


.afficherplus {
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}

.card-txt .card-subtitle {
    margin-bottom: 8px;
    ;
}

.card-txt .card-rating {
    margin-bottom: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;

}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.populaires-cards .card {
    display: flex;
    height: 100%;
    align-content: space-around;
}

.populaires .card-title {
    margin-bottom: 5px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

}



/***Activités***/

.activities {
    margin: 0;
    padding: 30px;
    height: 39%;
}

.activities-card {
    display: flex;
}

.activities-card .card:nth-child(1) {
    margin-right: 30px;
}

.activities-card .card:nth-child(2) {
    margin-right: 30px;
}

.activities-card .card:nth-child(3) {
    margin-right: 30px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activities-card .card {
    width: 25%;
    padding: 0;


}

.activities-card img {
    width: 100%;
    height: 82%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities a {
    padding: 0;
}

.activities-card .card-content {
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 19px;
}

.activities-card .card-title {
    padding: 19px 20px 19px 20px;
}

.activities .section-title {
    margin-bottom: 30px;
    margin-top: 30px;
}

/****footer****/
footer {
    background-color: #F2F2F2;
    display: flex;
    margin: 0 50px 0 50px;

}

footer h2 {
    margin-bottom: 15px;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;

}

footer a {
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        max-width: 1024px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }


    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres a {
        margin-top: 20px;
    }


    .liens {
        flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;

    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards img {
        height: 100%;
    }

    .populaires-cards a {
        width: 100%;

    }


    .activities-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .activities-card img {
        height: 141px;

    }
}








/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */

    .main-container {
        width: 100%;
        max-width: 768px;
    }

    main {
        padding: 0px 0px 0px 0px;
    }


    /***en-tête***/
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;

    }

    nav a:hover {
        border-bottom: 1px solid #0065FC;
        width: 50%;
        border-top: hidden;

    }

    nav img {
        height: 20px;
        width: auto;
        padding: 30px;
    }

    .menu-link {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menu-link a {
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
        cursor: pointer;
    }

    nav a {
        margin-right: 0;
    }

    /**** rechercher****/
    .rechercher {
        padding: 0 20px 0 20px;
    }

    .button {
        display: none;

    }

    .fa-magnifying-glass {
        display: block;
        height: 31px;
        width: 24px;
        border-radius: 10px;
        padding-top: 17px;
        padding-left: 17px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
        margin-left: -5px;
        z-index: 2;

    }

    .text-seach {
        color: black;
        font-weight: bold;
        font-size: 0.8em;
        text-align: center;
        height: 49px;
        width: 80%;
    }


    .formulaire-rechercher {
        width: 100%;
    }

    form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }




    .liens {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
        width: 100%;



    }

    .lien-filtres {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .filtres a {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filtres .card-title {
        margin: 0;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;


    }

    .hebergements-and-populaires section {
        border-radius: 0;



    }

    /****** Hebergements ***********/


    .hebergements {
        width: 100%;
        background-color: white !important;
        padding-right: 20px;
        padding-left: 20px;


    }

    .hebergements-card img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .hebergements-card {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .hebergements a {
        width: 100%;

    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-bottom: 0;
        background-color: var(--main-bg-color);
        padding-left: 20px;
        padding-right: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 33%;


    }

    .populaires-cards img {
        width: 40%;
        height: 146px;

    }

    /**** Activités****/

    .activities {
        padding-left: 30px;
        padding-right: 30px;
    }

    .activities-card {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    .activities-card .card {
        padding: 0;
        margin-bottom: 15px;
        width: 100%;
        margin-right: 0;
    }

    .activities-card a {
        height: 25%;
    }

    /****footer****/
    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px;
    }

    footer div {
        width: 100%;
        padding: 0;
    }

    footer div:not(:last-child) {
        margin-bottom: 50px;
    }
}